@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 21, 28, 39;
  --background-start-rgb: 249, 250, 255;
  --background-end-rgb: 243, 246, 254;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
